<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<head>
    <title>로그인</title>
</head>
<!-- 해당 html페이지에서만 사용할 css, script  -->
<th:block layout:fragment="css"></th:block>
<th:block layout:fragment="script"></th:block>
<style>
    .social_login {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    img {
        margin: 4px;
        cursor: pointer;
    }
</style>
<th:block layout:fragment="content">
    <section class="bg-light py-5 text-center">
        <div class="container px-5 my-5 px-5">
            <div class="text-center mb-5">
                <!--
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i>
                </div>
            -->
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="pb-5">
                    <a th:href="@{/}"><img class="img-size-contain" alt="Jaming logo"
                                           src="/assets/jamong-circular-logo-color-on-transparent-background.png"
                                           width="25%"></a>
                </div>
                <div class="col-lg-6">
                    <form class="form-signin" id="loginForm" th:action="@{/user/login}" method="post">
                        <h1 class="fw-bolder">로그인</h1>
                        <hr>

                        <div th:if="${param.error}" class="alert alert-danger" role="alert">Invalid username and
                            password.
                        </div>
                        <div th:if="${param.logout}" class="alert alert-primary" role="alert">로그아웃되었습니다.</div>

                        <!-- 아이디 input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="username" name="username" type="text"
                                   placeholder="아이디를 입력해주세요..."/>
                            <label for="username">아이디</label>
                            <div class="invalid-feedback" id="usernameErrMsg" style="display:none;">아이디를 입력해주세요.</div>
                        </div>


                        <!-- 비밀번호 input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="password" name="password" type="password"
                                   placeholder="비밀번호를 입력해주세요..."/>
                            <label for="password">비밀번호</label>
                            <div class="invalid-feedback" id="passwordErrMsg" style="display:none;">비밀번호를 입력해주세요.</div>
                        </div>

                        <!-- 로그인  Button-->
                        <div class="d-grid">
                            <button class="btn btn-primary btn-lg disabled" id="submitButton" type="button">로그인</button>
                        </div>
                    </form>
                    <div class="social_login" style="padding-top: 20px">
                        <h1>소셜 로그인</h1>
                        <hr>
                        <a href="/oauth2/authorization/kakao"><img th:src="@{/image/kakao_icon.png}" alt="kakao loign"
                                                                   style="width:60px;height:60px;margin: 4px; cursor: pointer;"></a>
                        <a href="/oauth2/authorization/google"><img th:src="@{/image/google_icon.png}" alt="google login"
                                                                    style="width:60px;height:60px;margin: 4px; cursor: pointer;"></a>
                        <a href="/oauth2/authorization/naver"><img th:src="@{/image/naver_icon.png}" alt="naver login"
                                                                   style="width:60px;height:60px;margin: 4px; cursor: pointer;"></a>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <script>


        $("#username, #password").on("focus", function () {

            let _id = $(this).attr('id')
            $("#" + _id + "ErrMsg").hide();

        }).on("input", function () {

            let _id = $(this).attr('id')
            let _value = $(this).val();

            if ($.trim(_value) === "") {
                $("#" + _id + "ErrMsg").show();
            }else{
                $("#" + _id + "ErrMsg").hide();
            }
            chkSubmitBtn();
        });

        function chkSubmitBtn() {

            let flag = true;

            $("input").each(function (index, item) {
                if ($.trim($(this).val()) === "") {
                    flag = false;
                }
            });

            if ($(".invalid-feedback:visible").length == 0 && flag) {
                $("#submitButton").removeClass("disabled");
            } else {
                $("#submitButton").addClass("disabled");
            }
        }

        // get the form element from dom
        const formElement = document.querySelector('form#loginForm')

        // convert the form to JSON
        const getFormJSON = (form) => {
            const data = new FormData(form);
            return Array.from(data.keys()).reduce((result, key) => {
                result[key] = data.get(key);
                return result;
            }, {});
        };

        // submit시 ajax로 로그인 발동
        $('#submitButton').on("click", function () {
            const data = JSON.stringify(getFormJSON(formElement));

            console.log(data);
            $.ajax({
                url: "/login",
                type: "post",
                contentType: "application/json",
                data: data,
                dataType: "text",
                success: function (data, textStatus, request) {
                    console.log(data);
                    console.log(textStatus);
                    console.log("Authorization:"+request.getResponseHeader('Authorization'));
                    console.log("Authorization-refresh:"+request.getResponseHeader('Authorization-refresh'));
                    console.log("Set-Cookie"+request.getResponseHeader('Set-Cookie'));

                    // window.location.href = "/";
                },
                error: function (request, status, error) {
                    console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            });
        })
    </script>
</th:block>
</html>

